#app {
	.sample {
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		font-size: 28px;
		font-weight: bold;
		height: 400px;
		margin: 0 auto;
		padding: 100px;
		text-align: center;
		width: 400px;
	}
}

